 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
      
      .parallax-container {
      height: "your height here";
    }
    .justificar{
    	text-align: justify;
    }
    .centrar{
      text-align: center;
    }
.fuente{
  font-family: 'Overlock', cursive;
  text-align: center;
}
.ffooter{
  font-family: 'Arima Madurai', cursive;
}
.boton:visited{
  font-family: 'Overlock', cursive;
  background-color: rgba(0, 0, 0,0.8);
  border-radius: 5px;
  
}

.boton:hover{
  background-color: rgba(255,70,70,0.8);
  border-radius: 15px;
}
ul>li>a:visited{
color:white;
}
ul>li>a:hover{
  color:white;
  background-color: rgba(255,70,70,0.8);  
}
ul>li.active a{
  color:white;
  background-color: rgba(255,70,70,0.8);
}

.ham:visited{
  color:black;
}
.ham:hover{
  color:black;
  background-color: rgba(255,70,70,0.8);  
}
.ham.active{
    color:white;
  background-color: rgba(255,70,70,0.8);
}

.responsiva{
  width: 70%;
  height: auto;
}

.izquierda{
    margin-right: 50px;
    padding: 50px;
}

.tarjetas{
  font-family: 'Delius', cursive;
}
.tituloTarjeta{
    font-size: 75px;
    color:black;
}

.texto{
  font-family: 'Magra', sans-serif;
  font-size: 20px;
}
span{
  font-size: 30px;
  font-weight: bold;
  color: black;
}
.titulo{
  font-family: 'Magra', sans-serif;
  font-size: 40px;
  text-align: center;
  font-weight: bold;  
}
.textoTarjeta{
   font-size: 45px;
}


